<!-- <mat-toolbar color="primary">
    <button mat-icon-button  (click)="sideNav.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>To Do</span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sideNav [mode]="'over'" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Tasklist</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container">
          <ng-content></ng-content>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<nav>
  <button>To Do</button>
</nav>
<div class="container">
  <ng-content></ng-content>
</div>
<!-- <app-footer></app-footer> -->